.navbar {
    height: 100px;


    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;
            color: inherit;
        }
    }
}