
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #6F8FAF;
    color: lightgray;
}

a {
    text-decoration: none;
    color: inherit;

}

section {
    height: 100vh;
    scroll-snap-align: center;
}