.AboutMe {
    height: 100%;
    background: linear-gradient(180deg,  #6F8FAF, #6495ED);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 200px;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }

    .titleContainer {
        color: yellow;
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;


        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                width: 300px;
                border-radius: 30px;
                object-fit: cover;
            }

            h1 {
                font-size: 96px;
                font-weight: 100;
            }

            .text {
                max-width: 1366px;
                margin: auto;
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;

        .box {
            padding: 50px;
            border: 0.5px solid #4169E1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
    }
}
